*{
    font-family: 'Raleway', sans-serif;
}
body {
    background-image: linear-gradient(to right, #052137, #053b54, #015771, #00758c, #0f94a4);
    
}

div{
    position: relative;
    top: 75px;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    color: aliceblue;
}

.pic{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}