*{
    font-family: 'Raleway', sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #052137, #053b54, #015771, #00758c, #0f94a4);
}

.container{
    /* margin: 0; */  
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div{
    width: 500px;
    height: 500px;
    text-align: center;
    color: aliceblue;
}

h1{
    margin-top: 0;
}

.pic{
    width: 75%;
    height: 75%;
    border-radius: 50%;
}
#btn{
    font-size: 1.2rem;
    padding: 4px 12px;
    background-color: aliceblue;
    color: black;
    border: none;
    border-radius: 5px;
}
#btn:hover{
    cursor: pointer;
    color:white;
    background-image: linear-gradient(to right, #052137, #053b54, #015771, #00758c, #0f94a4);

}